.bg {
    border-radius: 1rem 0 0 1rem;
    width: 50%;
    background: url('../assets/images/bg-main-desktop.png') no-repeat;
    background-size: contain;

    .bg-card-front {
        background: url('../assets/images/bg-card-front.png') no-repeat;
        background-size: contain;
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 15px;
        transform: translate(30%, 90%);

        img {
            width: 20%;
        }

        .digit {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            width: 100%;

            p {
                color: white;
            }
        }

        .card-foot {
            display: flex;
            width: 65%;
            justify-content: space-between;

            p {
                font-size: small;
                color: white;
            }
        }
    }

    .bg-card-back {
        background: url('../assets/images/bg-card-back.png') no-repeat;
        background-size: contain;
        width: 16rem;
        height: 8.7rem;
        transform: translate(70%, 110%);
        color: white;
        display: flex;
        justify-content: flex-end;

        .card-cvc {
            padding-right: 2rem;
            padding-top: 2.6rem;
        }
    }
}

@media (max-width: 416px) {
    .bg {
        border-radius: 0 0 0 0;
        width: 100%;
        height: 35%;
        background: url('../assets/images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 50px 30px rgb(164, 163, 163);

        .bg-card-back {
            background-size: cover;
            width: 18rem;
            height: 9.5rem;
            border-radius: 0rem 0.4rem 0.4rem 0.4rem;
            position: relative;
            transform: translate(0);
            top: -55px;
            left: 100px;
            z-index: 1;
            padding-top: 0.8rem;
        }

        .bg-card-front {
            justify-content: space-between;

            background-size: cover;
            border-radius: 0rem 0 0.4rem 0.4rem;
            width: 18rem;
            height: 9.5rem;
            position: relative;
            transform: translate(0);
            top: 200px;
            left: 30px;
            z-index: 2;

            .card-foot {
                width: 95%;
                justify-content: space-between;
            }
        }

    }
}

@media (max-width: 375px) {
    .bg {
        border-radius: 0 0 0 0;
        width: 100%;
        height: 35%;
        background: url('../assets/images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 50px 30px rgb(164, 163, 163);
        font-size: large;

        .bg-card-back {
            background-size: cover;
            width: 18rem;
            height: 9.5rem;
            border-radius: 0rem 0.4rem 0.4rem 0.4rem;
            position: relative;
            transform: translate(0);
            top: -100px;
            left: 50px;
            z-index: 1;
            padding-right: 0.8rem;
        }

        .bg-card-front {
            justify-content: space-between;
            background-size: cover;
            border-radius: 0rem 0 0.4rem 0.4rem;
            width: 18rem;
            height: 9.5rem;
            position: relative;
            transform: translate(0);
            top: 158px;
            left: 20px;
            z-index: 2;

            .card-foot {
                width: 95%;
                justify-content: space-between;
            }
        }

    }
}

@media (max-width: 360px) {
    .bg {
        border-radius: 0 0 0 0;
        width: 100%;
        height: 45%;
        background: url('../assets/images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 50px 30px rgb(164, 163, 163);
        font-size: large;

        .bg-card-back {
            background-size: cover;
            width: 18rem;
            height: 9.5rem;
            border-radius: 0rem 0.4rem 0.4rem 0.4rem;
            position: relative;
            transform: translate(0);
            top: -100px;
            left: 50px;
            z-index: 1;
            padding-right: 0.8rem;
        }

        .bg-card-front {
            justify-content: space-between;
            background-size: cover;
            border-radius: 0rem 0 0.4rem 0.4rem;
            width: 18rem;
            height: 9.5rem;
            position: relative;
            transform: translate(0);
            top: 158px;
            left: 20px;
            z-index: 2;

            .card-foot {
                width: 95%;
                justify-content: space-between;
            }
        }

    }
}