@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

form {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        label {
            font-size: small;
        }

        .name {
            display: flex;
            flex-direction: column;

            input {
                border-radius: 0.3rem;
                outline: none;
                border: 1px solid grey;
                padding-left: 5px;
                height: 2rem;
                font-size: medium;
            }

            .input-error {
                border: 1px solid red;
                animation: shake 400ms;
            }

            .error-name {
                margin: 0;
                padding: 0;
                color: red;
                font-size: x-small;
                display: none;
            }

            .error-name-active {
                display: block;
            }
        }

        .number {
            display: flex;
            flex-direction: column;

            input {
                border-radius: 0.3rem;
                outline: none;
                border: 1px solid grey;
                padding-left: 5px;
                height: 2rem;
                font-size: medium;
                text-overflow: clip;
                word-wrap: normal;
            }

            .input-error {
                border: 1px solid red;
                animation: shake 400ms;
            }

            .error-number {
                margin: 0;
                padding: 0;
                color: red;
                font-size: x-small;
                display: none;
            }

            .error-number-active {
                display: block;
            }
        }

        .exp-date {
            display: flex;
            gap: 1rem;

            .date {
                display: flex;
                flex-direction: column;
                margin-right: 0;
                padding-right: 0;
                width: 60%;

                .date-input {
                    display: flex;
                    gap: 0.5rem;

                    input {
                        border-radius: 0.3rem;
                        outline: none;
                        border: 1px solid grey;
                        padding-left: 5px;
                        height: 2rem;
                        width: 100%;
                        font-size: medium;

                    }

                    .input-error {
                        border: 1px solid red;
                        animation: shake 400ms;
                    }
                }

                .date-error {
                    margin: 0;
                    padding: 0;
                    color: red;
                    font-size: x-small;
                    display: none;
                }

                .show {
                    display: block;
                }

                .date-error-active-1 {
                    display: block;
                }

                .date-error-active-2 {
                    display: block;
                }

            }

            .cvc {
                width: 40%;
                display: flex;
                flex-direction: column;

                input {
                    border-radius: 0.3rem;
                    outline: none;
                    border: 1px solid grey;
                    padding-left: 5px;
                    height: 2rem;
                    font-size: medium;
                }

                .input-error {
                    border: 1px solid red;
                    animation: shake 400ms;
                }

                .cvc-error {
                    margin: 0;
                    padding: 0;
                    color: red;
                    font-size: x-small;
                    display: none;

                }

                .cvc-active {
                    display: block;
                }


            }
        }

        button {
            background-color: rgb(49, 0, 53);
            border-radius: 0.3rem;
            border: 0;
            height: 2rem;
            color: white;
            font-size: large;
            transition: background-color 100ms linear;

            &:disabled {
                color: rgba(32, 32, 32, 0.241);
                border: 2px grey solid;
                background-color: rgb(255, 255, 255);
            }

            &:disabled:hover {
                color: rgba(32, 32, 32, 0.241);
                border: 2px grey solid;
                background-color: rgb(255, 255, 255);
            }

            &:hover {
                background-color: rgb(106, 5, 116);
            }
        }
    }
}